# Ignore python bytecode
__pycache__/
*.pyc
ASI-venv-311/
ASI-venv/
# Ignore OpenEvolve temporary candidate files
# (Check your local folder to see what naming convention it uses, usually 'candidate_*.py')
candidate*.py
temp_*.py
HuggingFaceCourse\Chap2-HuggingFaceTransformers\HuggingfaceTransformersModels\model.safetensors
*.safetensors
*.dll
ASI-venv-311/Lib/site-packages/torch/lib/torch_cpu.dll